<div class="row">
<div class="col-lg-2">
<button id="btnBuySpiders" class="btn btn-primary btn-lg extra-lg col-lg-12" onclick="buyMonster(spiders)"> Hire Monster NAME <br><img src="../assets/images/piece.png" alt="golds" height="20" width="20">  <span> PRICE </span> </button>
</div>
<div class="col-lg-6">
</div>
<div class="col-lg-2">
  <button class="btn btn-primary btn-lg">Buy Monster NAME <br><img src="../assets/images/piece.png" alt="golds" height="20" width="20"><span> PRICE </span></button>
</div>
<div class="col-lg-2">
  <button class="btn btn-primary btn-lg">Upgrade Monster NAME <br><img src="../assets/images/piece.png" alt="golds" height="20" width="20"><span> PRICE </span> </button>
</div>
</div>
